html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.font {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: rebeccapurple;
  margin: 2rem;
}

.main-container {
  height: 100%;
}

.projects-container {
  width: 30%;
  height: 100%;
  border-right: 1px solid black;
}

.list-container {
  width: 70%;
  height: 100%;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}
